body
{
	background-image: url(drop1.jpg);
	height: 100vh;
	background-size: cover;
}

.menudropdown1
{
  width: 80%;
  height: 100px;
  margin-bottom: 0px auto;
}

.menudropdown1 ul
{
  padding: 0px;
}

.menudropdown1 ul li
{
	float: left;
	background-color: black;
	color: white;
	width: 200px;
	height: 50px;
    line-height:50px; 
	font-size: 15px;
	text-align: center;
	list-style: none;
	opacity: 0.6
}
.menudropdown1 ul li ul
{
  display: none;
}

.menudropdown1 ul li:hover> ul
{
  display: block;
 
}
